# App Configurations
APP_NAME=Capturo
DEBUG=True
PORT=8000

# Database Configurations
DATABASE_URL=mysql+pymysql://root:@127.0.0.1:3306/capturo

# Security
SECRET_KEY=supersecretkeyplaceholder
ACCESS_TOKEN_EXPIRE_MINUTES=11520

# --- SMTP / EMAIL ---
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=app.services.v1@gmail.com
SMTP_PASSWORD=your_app_password_here
SMTP_FROM=app.services.v1@gmail.com
